* {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    min-height: 100vh;

    background-color: #f9fafb;
}

#app {
    flex: 1;

    display: flex;
    flex-direction: column;
}